<header class="navbar navbar-default bg_white mainNav " data-sr="enter left over 1s wait 0s">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-3 animated fadeInDown marginT15">
                <a routerLink="/dashboard">
                    <!-- <img src="src/assets/img/logo.png" class="login" /> -->
                </a>
            </div>
            <div class="col-md-10 col-sm-10 header-mid-nav hidden-xs">
                <ul *ngIf="menu" class="header-nav">
                    <li *ngIf="isDashboard()" routerLinkActive="selected">
                        <a routerLink="{{'/'+ menu.Dashboard[0].resource_url}}">
                            <i class="fa fa-home"></i>
                            <span class="menu-name">{{menu.Dashboard[0].resource_name}}</span>
                        </a>
                    </li>
                    <li class="dropdown" *ngIf="isMenu()">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="fa fa-object-group"></i>
                            <span class="menu-name">Menu</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngFor="let item of menu.Menu; let i = index" routerLinkActive="selected">
                                <a routerLink="{{'/'+ item.resource_url}}">{{item.resource_name}}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" *ngIf="isAdmin()">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            <i class="fa fa-unlock-alt"></i>
                            <span class="menu-name">Admin</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngFor="let item of menu.Admin; let i = index" routerLinkActive="selected">
                                <a routerLink="{{'/'+ item.resource_url}}">{{item.resource_name}}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown" *ngIf="isUserDetail()">
                        <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" role="button" title="">
                            <i class="fa fa-user-circle-o"></i>
                            <span class="menu-name">{{userDetails.username}}</span>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="javascript:void(0)" (click)="signOut()">Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
<div class="clearfix"></div>